<div class="equipment-box boots-box" [ngClass]="rarityBoxColor()">
    <img
      [src]="Sm.getselectedItem()?.image || 'assets/placeholderx.png'"
      alt="Boots Item"
      class="equipment-image"
    />
    @if (showList) {
      <div class="equipment-list"  >
        @for (item of Sm.getselectedItemList(); track item.name) {
          <div (click)="selectItem(item)" class="equipment-item">
            <img [src]="item.image" [alt]="item.name" />
            <span>{{ item.name }}</span>
          </div>
        }
      </div>
    }

    @if (showContextMenu && Sm.getselectedItem()) {
      <div class="modal-box">
        <div class="rarity-buttons">
        @for (rarity of Sm.getrarities(); track $index) {
          @if ($index > 0) {
            <button 
              [class.active]="Sm.getselectedRarity() === $index"
              (click)="onChangeRarity($index)"
              class="rarity-button"
            >
              {{ $index === 1 ? 'I' : $index === 2 ? 'II' : $index === 3 ? 'III' : $index === 4 ? 'IV' : $index === 5 ? 'V' : $index === 6 ? 'VI' : 'VII' }}
            </button>
          }
        }
      </div>
        
        <div class="item-data">
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.headshotReduction){
            <p>Headshot Reduction: {{Sm.getselectedItemDisplay()?.itemdata[0]?.headshotReduction}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.projectileReduction){
            <p>Projectile Reduction: {{Sm.getselectedItemDisplay()?.itemdata[0]?.projectileReduction}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.magicalResistance){
            <p>Magical Resistance: {{Sm.getselectedItemDisplay()?.itemdata[0]?.magicalResistance[Sm.getselectedRarity()][0]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.magicalHealing){
            <p>Magical Healing: {{Sm.getselectedItemDisplay()?.itemdata[0]?.magicalHealing[Sm.getselectedRarity()]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.armorPenetration){
            <p>Armor Penetration: {{Sm.getselectedItemDisplay()?.itemdata[0]?.armorPenetration}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.magicPenetration){
            <p>Magical Armor Penetration: {{Sm.getselectedItemDisplay()?.itemdata[0]?.magicPenetration}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0].luck){
            <p>Luck: {{Sm.getselectedItemDisplay()?.itemdata[0].luck}}  </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0].magicalDamageReduction){
            <p>Magical Damage Reduction: {{Sm.getselectedItemDisplay()?.itemdata[0].magicalDamageReduction}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0].physicalDamageReduction){
            <p>Physical Damage Reduction: {{Sm.getselectedItemDisplay()?.itemdata[0].physicalDamageReduction}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.magicalPower ){
            <p>Magical Power: {{Sm.getselectedItemDisplay()?.itemdata[0]?.magicalPower[Sm.getselectedRarity()]}} % </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.actionSpeed ){
            <p>Action Speed: {{Sm.getselectedItemDisplay()?.itemdata[0]?.actionSpeed[Sm.getselectedRarity()]}} % </p>
          }      
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.moveSpeedBonus){
            <p>Move Speed Bonus: {{Sm.getselectedItemDisplay()?.itemdata[0]?.moveSpeedBonus}} </p>
          }
      
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.moveSpeed){
            <p>Move Speed: {{Sm.getselectedItemDisplay()?.itemdata[0]?.moveSpeed["1"]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.armorRatings ){
            <p>Armor Rating: {{Sm.getselectedItemDisplay()?.itemdata[0]?.armorRatings[Sm.getselectedRarity()]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.strength ){
            <p>Strength: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.strength[Sm.getselectedRarity()] }} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.vigor ){
            <p>Vigor: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.vigor[Sm.getselectedRarity()] }} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.dexterity){
            <p>Dexterity: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.dexterity[Sm.getselectedRarity()] }} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.agility){
            <p>Agility: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.agility[Sm.getselectedRarity()]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.will){
            <p>Will: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.will[Sm.getselectedRarity()]}} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.knowledge){
            <p>Knowledge: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.knowledge[Sm.getselectedRarity()] }} </p>
          }
          @if(Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.resourcefulness){
            <p>Resourcefulness: {{Sm.getselectedItemDisplay()?.itemdata[0]?.BaseAttribute?.resourcefulness[Sm.getselectedRarity()] }}</p>
          }
         
        </div>

        
        <div class="modal-content">
          <h3 [class]="'rarity-' + Sm.getselectedRarity()">{{ Sm.getselectedItem()?.name || 'No Item Selected' }}</h3>
          <img [src]="Sm.getselectedItem()?.image" [alt]="Sm.getselectedItem()?.name" class="modal-image" />
            <div class = "rating-select">
              <label for="rating-select">Rating:</label>
              <select id="rating-select" [(ngModel)]="rating" (ngModelChange)="onChangeRating($event)">
                @for (rating of Sm.getselectedRatingList(); track $index) {
                  <option [value]="$index">{{ rating }}</option>
                }
              </select>
            </div>
          
            @if(Sm.getselectedRarity() >= 3){
              <div class="enchantment-Uncommon-select uncommon-border">
                <select id="enchantment-select" [(ngModel)]="state.uncommont" (ngModelChange)="onChangeEnchantment_TypeUncommon($event)">
                  @for (list of Sm.getEnchantmentList('Uncommon').types; track list + '_uncommon') {
                    <option [value]="list">{{ list }}</option>
                  } 
                </select>
                @if(Sm.getEnchantmentList('Uncommon').types){
                <select id="enchantmentvalue-Uncommon-select" [(ngModel)]="state.uncommonv" (ngModelChange)="onChangeEnchantment_ValueUncommon($event)">
                  @for (listvalue of Sm.getEnchantmentList('Uncommon').values; track listvalue + '_uncommon_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            
            @if(Sm.getselectedRarity() >= 4){
              <div class="enchantment-Rare-select rare-border">
                <select id="enchantment-Rare-select" [(ngModel)]="state.raret" (ngModelChange)="onChangeEnchantment_TypeRare($event)">
                  @for (list of Sm.getEnchantmentList('Rare').types; track list + '_rare') {
                    <option [value]="list">{{ list }}</option>
                  } 
                </select>
                @if(Sm.getEnchantmentList('Rare').types){
                <select id="enchantmentvalue-Rare-select" [(ngModel)]="state.rarev" (ngModelChange)="onChangeEnchantment_ValueRare($event)">
                  @for (listvalue of Sm.getEnchantmentList('Rare').values; track listvalue + '_rare_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            
            @if(Sm.getselectedRarity() >= 5){
              <div class="enchantment-Epic-select epic-border">
                <select id="enchantment-Epic-select" [(ngModel)]="state.epict" (ngModelChange)="onChangeEnchantment_TypeEpic($event)">
                  @for (list of Sm.getEnchantmentList('Epic').types; track list + '_epic') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(Sm.getEnchantmentList('Epic').types){
                <select id="enchantmentvalue-Epic-select" [(ngModel)]="state.epicv" (ngModelChange)="onChangeEnchantment_ValueEpic($event)">
                  @for (listvalue of Sm.getEnchantmentList('Epic').values; track listvalue + '_epic_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(Sm.getselectedRarity() >= 6){
              <div class="enchantment-Legendary-select legendary-border">
                <select id="enchantment-Legendary-select" [(ngModel)]="state.legendt" (ngModelChange)="onChangeEnchantment_TypeLegendary($event)">
                  @for (list of Sm.getEnchantmentList('Legendary').types; track list + '_legendary') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(Sm.getEnchantmentList('Legendary').types){
                <select id="enchantmentvalue-Legendary-select" [(ngModel)]="state.legendv" (ngModelChange)="onChangeEnchantment_ValueLegendary($event)">
                  @for (listvalue of Sm.getEnchantmentList('Legendary').values; track listvalue + '_legendary_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(Sm.getselectedRarity() >= 7){
              <div class="enchantment-Unique-select unique-border">
                <select id="enchantment-Unique-select" [(ngModel)]="state.uniquet" (ngModelChange)="onChangeEnchantment_TypeUnique($event)">
                  @for (list of Sm.getEnchantmentList('Unique').types; track list + '_unique') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(Sm.getEnchantmentList('Unique').types){
                <select id="enchantmentvalue-Unique-select" [(ngModel)]="state.uniquev" (ngModelChange)="onChangeEnchantment_ValueUnique($event)">
                  @for (listvalue of Sm.getEnchantmentList('Unique').values; track listvalue + '_unique_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
              
      </div>
        <div class="button-close"> <button (click)="showContextMenu = false">Close</button> </div>
      
   </div>

    }

</div>