<div class="equipment-box head-box" [ngClass]="rarityBoxColor()">
    <img
      [src]="selectedItem?.image || 'assets/placeholderx.png'"
      alt="Head Item"
      class="equipment-image"
    />
    @if (showList) {
      <div class="equipment-list"  >
        @for (item of listItems; track item.name) {
          <div (click)="selectItem(item)" class="equipment-item">
            <img [src]="item.image" [alt]="item.name" />
            <span>{{ item.name }}</span>
          </div>
        }
      </div>
    }
  
  
    @if (showContextMenu && selectedItem) {
      <div class="modal-box">
        <div class="rarity-buttons">
          @for (rarity of rarityring; track $index) {
           @if ($index > 2) { 
            <button 
              [class.active]="selectedRarity === $index"
              (click)="onChangeRarity($index)"
              class="rarity-button"
            >
              {{ $index === 3 ? 'III' : $index === 4 ? 'IV' : $index === 5 ? 'V' : $index === 6 ? 'VI' : 'VII' }}
            </button>
            }
          }
        </div>
        <!-- additional item data -->
        <div class="item-data">
       
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.strength && selectedItemData?.itemdataacc?.BaseAttribute?.strength[selectedRarity] ){
            <p>Strength: {{selectedItemData?.itemdataacc?.BaseAttribute?.strength[selectedRarity] }} </p>
          }
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.vigor && selectedItemData?.itemdataacc?.BaseAttribute?.vigor[selectedRarity] ){
            <p>Vigor: {{selectedItemData?.itemdataacc?.BaseAttribute?.vigor[selectedRarity] }} </p>
          }
          
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.dexterity && selectedItemData?.itemdataacc?.BaseAttribute?.dexterity[selectedRarity] ){
            <p>Dexterity: {{selectedItemData?.itemdataacc?.BaseAttribute?.dexterity[selectedRarity] }} </p>
          }
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.agility && selectedItemData?.itemdataacc?.BaseAttribute?.agility[selectedRarity] ){
            <p>Agility: {{selectedItemData?.itemdataacc?.BaseAttribute?.agility[selectedRarity]}} </p>
          }
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.will && selectedItemData?.itemdataacc?.BaseAttribute?.will[selectedRarity] ){
            <p>Will: {{selectedItemData?.itemdataacc?.BaseAttribute?.will[selectedRarity]}} </p>
          }
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.knowledge && selectedItemData?.itemdataacc?.BaseAttribute?.knowledge[selectedRarity] ){
            <p>Knowledge: {{selectedItemData?.itemdataacc?.BaseAttribute?.knowledge[selectedRarity] }} </p>
          }
          @if(selectedItemData?.itemdataacc?.BaseAttribute?.resourcefulness && selectedItemData?.itemdataacc?.BaseAttribute?.resourcefulness[selectedRarity] ){
            <p>Resourcefulness: {{selectedItemData?.itemdataacc?.BaseAttribute?.resourcefulness[selectedRarity] }} </p>
          }
         <!-- <p>Flavor Text: {{selectedItemData?.itemdata?.flavorText}} </p> -->
        </div>
  
  
        <div class="modal-content">
          <h3 [class]="'rarity-' + selectedRarity">{{ selectedItem.name || 'No Item Selected' }}</h3>
          <img [src]="selectedItem.image" [alt]="selectedItem.name" class="modal-image" />
            
            
            @if(selectedRarity >= 3){
              <div class="enchantment-Uncommon-select uncommon-border">
                <select id="enchantment-select" [(ngModel)]="selectedEnchantments['uncommon'].type" (ngModelChange)="onChangeEnchantment_TypeUncommon($event)">
                  @for (list of enchantmentLists['uncommon'].types; track list + '_uncommon') {
                    <option [value]="list">{{ list }}</option>
                  } 
                </select>
                @if(selectedEnchantments['uncommon'].type){
                <select id="enchantmentvalue-Uncommon-select" [(ngModel)]="selectedEnchantments['uncommon'].value" (ngModelChange)="onChangeEnchantment_ValueUncommon($event)">
                  @for (listvalue of enchantmentLists['uncommon'].values; track listvalue + '_uncommon_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(selectedRarity >= 4){
              <div class="enchantment-Rare-select rare-border">
                <select id="enchantment-Rare-select" [(ngModel)]="selectedEnchantments['rare'].type" (ngModelChange)="onChangeEnchantment_TypeRare($event)">
                  @for (list of enchantmentLists['rare'].types; track list + '_rare') {
                    <option [value]="list">{{ list }}</option>
                  } 
                </select>
                @if(selectedEnchantments['rare'].type){
                <select id="enchantmentvalue-Rare-select" [(ngModel)]="selectedEnchantments['rare'].value" (ngModelChange)="onChangeEnchantment_ValueRare($event)">
                  @for (listvalue of enchantmentLists['rare'].values; track listvalue + '_rare_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(selectedRarity >= 5){
              <div class="enchantment-Epic-select epic-border">
                <select id="enchantment-Epic-select" [(ngModel)]="selectedEnchantments['epic'].type" (ngModelChange)="onChangeEnchantment_TypeEpic($event)">
                  @for (list of enchantmentLists['epic'].types; track list + '_epic') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(selectedEnchantments['epic'].type){
                <select id="enchantmentvalue-Epic-select" [(ngModel)]="selectedEnchantments['epic'].value" (ngModelChange)="onChangeEnchantment_ValueEpic($event)">
                  @for (listvalue of enchantmentLists['epic'].values; track listvalue + '_epic_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(selectedRarity >= 6){
              <div class="enchantment-Legendary-select legendary-border">
                <select id="enchantment-Legendary-select" [(ngModel)]="selectedEnchantments['legendary'].type" (ngModelChange)="onChangeEnchantment_TypeLegendary($event)">
                  @for (list of enchantmentLists['legendary'].types; track list + '_legendary') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(selectedEnchantments['legendary'].type){
                <select id="enchantmentvalue-Legendary-select" [(ngModel)]="selectedEnchantments['legendary'].value" (ngModelChange)="onChangeEnchantment_ValueLegendary($event)">
                  @for (listvalue of enchantmentLists['legendary'].values; track listvalue + '_legendary_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
            @if(selectedRarity >= 7){
              <div class="enchantment-Unique-select unique-border">
                <select id="enchantment-Unique-select" [(ngModel)]="selectedEnchantments['unique'].type" (ngModelChange)="onChangeEnchantment_TypeUnique($event)">
                  @for (list of enchantmentLists['unique'].types; track list + '_unique') {
                    <option [value]="list">{{ list }}</option>
                  }
                </select>
                @if(selectedEnchantments['unique'].type){
                <select id="enchantmentvalue-Unique-select" [(ngModel)]="selectedEnchantments['unique'].value" (ngModelChange)="onChangeEnchantment_ValueUnique($event)">
                  @for (listvalue of enchantmentLists['unique'].values; track listvalue + '_unique_value') {
                    <option [value]="listvalue">{{ formatValue(listvalue) }}</option>
                  } 
                </select>
                }
              </div>
            }
   </div>
        <div class="button-close">
          <button (click)="showContextMenu = false">Close</button>
        </div>
   </div>
      }
  
  
  </div>
