/* General styles for the equipment box */
@import '../equipment-boxes.style.css';

/* box equipement size shape */

.equipment-box {
    position: relative;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .equipment-box {
    position: relative;
    cursor: pointer;
  }
  
  .equipment-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .equipment-list {
     position: absolute;
    top: 0;
    right: 100%;
    margin-right: 5px;
    background: #222222;
    border: 1px solid #7e7d7d;
    z-index: 15;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  
  .equipment-item {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .equipment-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
    .rarity-poor {
    border: 2px solid #473737; /* grey */
  }
  
  .rarity-common {
    border: 2px solid #f3eeee; /* white */
  }
  
  .rarity-uncommon {
    border: 2px solid #90ee90; /* Light green */
  }
  
  .rarity-rare {
    border: 2px solid #87ceeb; /* Sky blue */
  }
  
  .rarity-epic {
    border: 2px solid #9370db; /* Medium purple */
  }
  
  .rarity-legendary {
    border: 2px solid #ffa500; /* Orange */
  }
  
  .rarity-unique {
    border: 2px solid #e4e0b5cb;
  }
  