/* General styles for the equipment box */
 @import '../equipment-boxes.style.css'; 

/* box equipement size shape */

.equipment-box {
    position: relative;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .equipment-box {
    position: relative;
    cursor: pointer;
  }
  
  .equipment-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .equipment-list {
     position: absolute;
    top: 0;
    right: 100%;
    margin-right: 5px;
    background: #222222;
    border: 1px solid #7e7d7d;
    z-index: 15;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  
  .equipment-item {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .equipment-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
    .rarity-poor {
    border: 2px solid #473737; /* grey */
  }
  
  .rarity-common {
    border: 2px solid #f3eeee; /* white */
  }
  
  .rarity-uncommon {
    border: 2px solid #90ee90; /* Light green */
  }
  
  .rarity-rare {
    border: 2px solid #87ceeb; /* Sky blue */
  }
  
  .rarity-epic {
    border: 2px solid #9370db; /* Medium purple */
  }
  
  .rarity-legendary {
    border: 2px solid #ffa500; /* Orange */
  }
  
  .rarity-unique {
    border: 2px solid #e4e0b5cb;
  }
  

  
  /* Rarity 2 - Common */
  .rarity-button:nth-child(1) {
    border-color: #90ee90;
    color: #2e7d32;
  }
  
  .rarity-button:nth-child(1):hover,
  .rarity-button:nth-child(1).active {
    background-color: #90ee90;
    color: #1b5e20;
  }
  
  /* Rarity 3 - Uncommon */
  .rarity-button:nth-child(2) {
    border-color: #87ceeb;
    color: #0277bd;
  }
  
  .rarity-button:nth-child(2):hover,
  .rarity-button:nth-child(2).active {
    background-color: #87ceeb;
    color: #01579b;
  }
  
  /* Rarity 4 - Rare */
  .rarity-button:nth-child(3) {
    border-color: #9370db;
    color: #6a1b9a;
  }
  
  .rarity-button:nth-child(3):hover,
  .rarity-button:nth-child(3).active {
    background-color: #9370db;
    color: #4a148c;
  }
  
  /* Rarity 5 - Epic */
  .rarity-button:nth-child(4) {
    border-color: #ffa500;
    color: #e0921df2;
  }
  
  .rarity-button:nth-child(4):hover,
  .rarity-button:nth-child(4).active {
    background-color: #ffa500;
    color: #bf360c;
  }
  
  /* Rarity 6 - Legendary */
  .rarity-button:nth-child(5) {
    border-color: #e3b144;
    color: #e4d693;
  }
  
  .rarity-button:nth-child(5):hover,
  .rarity-button:nth-child(5).active {
    background-color: #e3b144;
    color: #e4d693;
  }
  
  /* Rarity 7 - Unique */
  .rarity-button:nth-child(6) {
    border-color: #ece7b4ec;
    color: #b8860b;
  }
  
  .rarity-button:nth-child(6):hover,
  .rarity-button:nth-child(6).active {
    background-color: #ece7b4ec;
    color: #795548;
  }