<div class="sidebar" [class.collapsed]="isCollapsed()" [style.width]="isCollapsed() ? collapsedWidth : expandedWidth">
  
    <div class="sidebar-header">
      @if (!isCollapsed()) {
        <h1>Dark & Data</h1>
      }
      @else {
        <h1>D&D</h1>
     }
    </div>
  
    <div class="sidebar-content">
      @for (item of navItems; track item.route) {
        <div class="sidebar-item" (click)="navigateTo(item.route)">
          <img [src]="item.icon" [alt]="item.label" class="sidebar-icon">
          @if (!isCollapsed()) {
            <span>{{ item.label }}</span>     
          }
        </div>
      }
    @if (!isCollapsed()) {
       <div class="sidebar-instructions">
          <h2>Instructions</h2>

          <h4>Select Item -</h4>
          <p>Left click on the equipment boxes to select items.<br><br></p>
          <h4>Modify Item -</h4>
          <p>Right click on the equipment boxes to modify items attributes.</p>
        </div>
      }
    </div>
    

    <div class="sidebar-footer">
      <div class="sidebar-item support-button" (click)="openSupport()">
        <img src="assets/support.svg" alt="Support" class="sidebar-icon">
        @if (!isCollapsed()) {
         <span>Support</span>
        }
      </div>
    </div>
  
  <button class="sidebar-toggle" (click)="toggleSidebar()" [attr.aria-label]="isCollapsed() ? 'Expand sidebar' : 'Collapse sidebar'">
    {{ isCollapsed() ? '→' : '←' }}
  </button>

  
</div>