.top-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    
  }
  
.character-box {
    padding: 10px;
    text-align: center;
    max-width: 150px;
    margin: auto;
  }
  
  .character-image {
    width: 70px;
    height: 100px;
    border-radius: 1px;
    margin-bottom: 1px;
    align-items: center;
  }
  
  .character-selection {
    font-size: 12px;
    margin-bottom: 1px;
    text-align: center;
    margin: auto;
  }
  
  select {
    padding: 3px;
    font-size: 12px;
    text-align: center;
    margin: auto;
  }

  .race-box {
    position: center;
    padding: 10px;
    text-align: center;
    max-width: 150px;
    margin: auto;
  }
  
  .race-image {
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-bottom: 1px;
  }
  
  .race-selection {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    margin: auto;
  }